<div class="col-sm-6">
  <div class="card mb-4">
  <h4 class="card-header">Payment</h4>
    <div class="card-body">
      <h6 class='cart-title'>Current payment status: <span class="badge p-2 text-white bg-<%= bootstrap_payment_event_class(payment.aasm_state.to_s) %>"><%= payment.aasm_state %></span></h6>
      <div class="btn-group">
        <% order_presenter.payment_permitted_events.each do |name|%>
          <%= link_to "#{name}", admin_payment_path(id: payment.id, event: name), method: :patch, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-#{bootstrap_payment_event_class(name.to_s)}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>