<h3 class="my-4">Categories</h3>
<div class="list-group">
  <% categories.each do |category| %>
    <%= link_to "#{category.name}", root_path(@filters.merge(category_id: category.id)), class: 'list-group-item' %>
  <% end %>
</div>
<h3 class="my-4">Brands</h3>
<div class="list-group">
  <% brands.each do |brand| %>
    <%= link_to "#{brand.brand_name}", root_path(@filters.merge(brand_id: brand.id)), class: 'list-group-item' %>
  <% end %>
</div>
<%= button_to 'Reset filters', root_path(@filters.merge(category_id: "", brand_id: "")), class: "btn btn-danger"  %>
