<h3 class="my-4">Categories</h4>
<div class="list-group">
  <%= link_to "Category 1", products_path, :class => 'list-group-item' %>
  <%= link_to "Category 2", products_path, :class => 'list-group-item' %>
  <%= link_to "Category 3", products_path, :class => 'list-group-item' %>
  <%= link_to "All products", products_path, :class => 'list-group-item' %>
</div>
