<% presenter = ProductPresenter.new(product) %>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <%= link_to image_tag(presenter.image_attached, class: 'card-img-top'), product_path(product) %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to product.name, product_path(product) %>
      </h4>
      <h5><%= product.price %> $</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
      <%= link_to "Add to cart", add_product_to_cart_path(product), method: :post, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
